PORT = 5005
DB_URI = mongodb+srv://tahatufek05:DjHdBAPfg6snM32F@finscope.4p52ak4.mongodb.net/
MONGODB_COLECTION = finscope_db
MONGODB_CONNECTION_TIMEOUT = 5000
SECRETKEY = jeliboncuarif
EXPIRESIN = 1h
APP_PREFIX = /api/v1